/*------------------------------------------------------
---------------LANDING----------------------------------
-------------------------------------------------------*/


nav ul {
    list-style-type: none;
    margin: 50px;
    padding: 0;
}

nav li{
	display: inline;
	margin-left: 60px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	color: #FFFFFF;
	font-weight: bold;
	text-shadow: 2px 2px #4e5b87;
	display:inline-block;
    transform:scale(2,1); /* W3C */
    -webkit-transform:scale(1,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */

}

nav li:hover {
	text-shadow: 5px 5px #000000;
}

nav a {
	text-decoration: none;
}

body {
	width: 1320px;
/*	height: 100%;*/
	background-color: #4e5b87
}

.centerImg {
	margin-left: 280px;
}


img.social {
	margin-left: 600px;
	margin-top: 50px;
	border-radius: 20px;
}
img.social:hover {
	border-radius: 40px
}


/*------------------------------------------------------
---------------LANDINGX----------------------------------
-------------------------------------------------------*/

.logo {
	margin-left: 360px;
	margin-top: 200px;
}