<section data-ng-controller="HomeController">
	<!--<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />-->


	<div class = "landing_section">
		<h1> A McGilL Engineering Ice Cream Store</h1>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>


	<div class = "menu_section">
		<h1>Menu</h1>
		<div class="menu_subsection" ng-repeat="flavour in flavours">
			<div class="col-md-4 flav_section">
				<img class=".img-responsive" alt="{{flavour.alt}}" ng-src="modules/core/img/brand/cream_flav/{{flavour.flavId}}">
			</div>
		</div>
		<h1>hi</h1>
	</div>


	<div class = "facts_section">
		<h1>Facts</h1>
	</div>


	<div class = "contact_section">
		<h1>Contact</h1>
		<div class="row">
			<div class="col-md-4">
				<p>Opening Hours</p>
			</div>
			<div class="col-md-4">
				<p>Location</p>
			</div>
			<div class="col-md-4">
				<p>Email</p>
			</div>
		</div>
	</div>

	<div class = "employee_section">
		<h1>Employee</h1>
		<div class="employee_subsection" ng-repeat="employee in employees">
			<div class="col-md-6">
				<img class=".img-responsive .img-rounded" alt="{{}}" ng-src="modules/core/img/brand/employee_pic/richard.png" class="img-thumbnail">
				<p>{{employee.name}}</p>
				<div class="table-responsive">
					<table class="table table-hover borderless">
						<tr>
							<th><p>Major:</p></th>
							<th>{{employee.major}}</th>
						</tr>
						<tr>
							<th><p>Home Town:</p></th>
							<th>{{employee.home_town}}</th>
						</tr>
						<tr>
							<th><p>Fav Flavour:</p></th>
							<th>{{employee.fav_icecream}}</th>
						</tr>
						<tr>
							<th><p>Hobby:</p></th>
							<th>{{employee.hobby}}</th>
						</tr>
						<tr>
							<th><p>Music:</p></th>
							<th>{{employee.music}}</th>
						</tr>
						<tr>
							<th><p>Fun Fact:</p></th>
							<th>{{employee.fact}}</th>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<p>hi</p>
	</div>

	<div class = "testimonial_section">
		<h1>Testimonials</h1>
	</div>

	<div class = "footer_section">

	</div>

</section>

