body {
	margin: 0 auto;
/*	position: relative;*/
	height: 100%;
	width: 100%;

}

h1, h2, h3, h4, h5, h6, p, li {
	font-family: lato;
}

.container {
	width: 1000px;
	text-align: center;
}

#menu, #prices,#contact, #employee, #testimonial, #application {
	margin-top: -10px;
    margin: 0 auto;
}

#yolo {
	margin-top: 50px;
}

/**********************************************
************************nav********************
***********************************************/
.navbar {
	margin: 0 auto;
	z-index: 30;
	background-color: #fff;
}

.navbar li {
	display: inline;
	margin-left: 50px;
	text-transform: uppercase;
	font-family: lato;
	color: white;
}
.navbar a {
	color: #c81118;
}

.navbar a:hover {
	font-weight: bold;
	text-decoration: none;
	color:#c81118;
}
.navbar ul {
	list-style-type: none;
	margin-top: 30px;
}

#social-media {
	float: right;
}
#social-media img:hover {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#nav-logo {
	float: left;
	margin-right: 100px;
	margin-top: -25px;
}

/**********************************************
************************main-bckgrnd***********
***********************************************/
#main-bckgrnd {
	overflow: hidden;
	margin-top: 50px;
}

#main-bckgrnd p {
	color: #c81118;
	font-weight: bold;

}


.jumbotron {
    background: url(../images/bckgndimg.png) fixed center top no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 0px;
    padding-top: 100px;
    margin-bottom: 0px;
    background-position-y:-100px;
    height: 470px;
/*    background-color: #c81118;*/
}

.main-notes ul{
	list-style-type: none;
	margin-top: 40px;

}
.main-notes li {
	display: inline;
	margin-left: 20px;
	font-size: 15px;
	color: #000;
	font-weight: bold;
	font-family: lato;
}

.main-notes img {
	margin-bottom: 10px;
	margin-left: 14px;
}
/**********************************************
************************menu*******************
***********************************************/

#menu {
	background-color: #d5ebdc;

}

.menurow{
	margin-top: 15px;
}

/*span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

span.text-content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 150px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 500ms ease 0s;
    width: 150px;
}

#menu img {
    display: inline-block;
    margin-bottom: 1em;
    margin-right: 1em;
    position: relative;
}
#menu img:hover span.text-content {
    opacity: 1;
}*/
/**********************************************
************************Facts*******************
***********************************************/
#facts {
	background-color: #f5f0f4;
	margin-top: -20px;
}

#facts a {
	text-decoration: none;
	color: black;
}

#facts a:hover {
	text-decoration: underline;
}

#employeeoftheweek {
	float: right;
}


/**********************************************
************************Prices********************
***********************************************/

#prices {
	background-color: #f5dd88;
}

#prices ul {
	list-style-type: none;
}

#prices li {
	display: inline;
	margin-left: 15px;
}
#the-sizes img{
	width: 10%;
	height: 10%;
}

/**********************************************
************************Employees********************
***********************************************/

#employee {
	background-color: #fff;

}

/**********************************************
************************testimonial************
***********************************************/
#testimonial {
	height: 290px;
	background-color: #ffed56;
}

textarea {
	resize: none;
}

/**********************************************
************************Contact****************
***********************************************/

#contact {
	background-color: #bbecf5;
}

/**********************************************
************************Application********************
***********************************************/

#application {
		background-color: #e5c7e8;
}


/**********************************************
************************Footer********************
***********************************************/
footer {
	background-color: #827c88;
}

footer p {
	color: white;
}