body {
	margin: 0 auto;
/*	position: relative;*/
	height: 100%;

}

h1, h2, h3, h4, h5, h6, p, li {
	font-family: lato;
}

.container {
	width: 1000px;
	text-align: center;
}

/**********************************************
************************nav********************
***********************************************/
.navbar {
	margin: 0 auto;
	z-index: 30;
	background-color: #ecd2e1;
}

.navbar li {
	display: inline;
	margin-left: 50px;
	text-transform: uppercase;
	font-family: lato;
	color: white;
}
.navbar a {
	color: white;
}

.navbar a:hover {
	font-weight: bold;
	text-decoration: none;
	color:white;
}
.navbar ul {
	list-style-type: none;
	margin-top: 30px;
}

#social-media {
	float: right;
}
#social-media img:hover {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#nav-logo {
	float: left;
	margin-right: 100px;
	margin-top: -25px;
}

/**********************************************
************************main-bckgrnd***********
***********************************************/
#main-bckgrnd {
	background: url(../images/bckgndimg.png) fixed center top no-repeat;
	overflow: hidden;
	margin-top: 50px;
}


/**********************************************
************************menu*******************
***********************************************/

#menu {
/*	background-color: yellow;*/
	margin-top: 50px;
}

.menurow{
	margin-top: 15px;


/**********************************************
************************Facts*******************
***********************************************/



/**********************************************
************************Schedule****************
***********************************************/
}
#schedule {
/*	background-color: green;*/
}

#prices ul {
	list-style-type: none;
}

#prices li {
	display: inline;
	margin-left: 15px;
}
#the-sizes img{
	width: 10%;
	height: 10%;
}


/**********************************************
************************Prices********************
***********************************************/


/**********************************************
************************Employees********************
***********************************************/

/**********************************************
************************testimonial************
***********************************************/
#testimonial {
/*	background-color: red;*/
}

/**********************************************
************************Application********************
***********************************************/