body {
	margin: 0 auto;
/*	position: relative;*/
	height: 100%;

}

.container {
	width: 1000px;
	text-align: center;
}

/**********************************************
************************nav********************
***********************************************/
.navbar {
	margin: 0 auto;
	z-index: 30;
	background-color: #ecd2e1;
}

.navbar li {
	display: inline;
	margin-left: 50px;
	text-transform: uppercase;
}
.navbar ul {
	list-style-type: none;
	margin-top: 30px;
}

#social-media {w
	float: right;
}

#nav-logo {
	float: left;
	margin-right: 100px;
	margin-top: -25px;
}

/**********************************************
************************main-bckgrnd***********
***********************************************/
#main-bckgrnd {
	background: url(../images/bckgndimg.png) fixed center top no-repeat;
	overflow: hidden;
	margin-top: 50px;
}


/**********************************************
************************menu*******************
***********************************************/

#menu {
/*	background-color: yellow;*/
	margin-top: 50px;
}

.menurow{
	margin-top: 15px;
/**********************************************
************************Schedule****************
***********************************************/
}
#schedule {
/*	background-color: green;*/
}

/**********************************************
************************nav********************
***********************************************/

#employee {
/*	background-color: blue;*/

}

/**********************************************
************************testimonial************
***********************************************/
#testimonial {
	background-color: red;
}